<!DOCTYPE html>

<html lang="pt-br">
    <meta charset="UTF-8">

    <title>Veggood</title>

    <link rel="stylesheet" href="style.css">
    <head>

        <h1>Veggood</h1>

    </head>

    <body>
        <img src="Fotos/Banner_Burgers.jpg">
        <p> O nosso app é destinado a pessoas Veganas, vegetarianas & interessadas,
            que tenham dificuldades em encontrar estabelecimentos de comidas veganas.
        </p>

        <p id="titulo"> O <strong>Veggood</strong> é um app exclusivamente de restaurantes vegetarianos e veganos
            que facilita em encontrar opções de restaurantes.
        </p>

        <p>Diferentemente do Ifood, o nosso produto tem
        <em><strong> preços mais acessíveis para a comunidade veggie e tem maior variedade de produtos vegetais</strong></em></em></em></p>
    </body>

</html>
